

.clients {
    text-align: center;
    padding: 5rem 2rem;
}
    .clients h2 {
            font-size: 1.6em;
            text-align: center;
            font-weight: 200;

    }
    .clients .link {
        display: block;
        padding-bottom: 1.5rem;
        color: #2097ac;
        cursor: pointer;
        text-decoration: underline;
    }

        .clients .link .logo {
            opacity: 0.5;
            height: 1.5rem;
            display: inline-block;
            max-width: 100%;
            color: #2097ac;
            cursor: pointer;
        }

@media (min-width: 1200px) {

    .clients {
        text-align: center;
        padding: 5rem 5rem;
        display: flex;
        justify-content: center;
    }

        .clients .link {
            margin-right: 2rem;
            display: block;
            padding-bottom: 1rem;
            color: #2097ac;
            cursor: pointer;
            text-decoration: underline;
            text-align: center;
        }

            .clients .link .logo {
                height: 1.4rem;
                display: block;
                opacity: 0.5;
                max-width: 100%;
                color: #2097ac;
                cursor: pointer;
                text-align: center;
            }
}