.footer {
    overflow: hidden;
    padding-top: 6rem;
    background-color: #5a5a5d;
    color: #fff;
    display: block;
}

    .footer .list {
        display: block;
        padding: 0;
        margin-left: 1em;
        grid-template-columns: 1fr 1fr;
        position: relative;
        color: inherit;
    }

        .footer .list .item {
            display: flex;
            align-items: center;
            white-space: nowrap;
            margin: 0;
            padding: 0;
            padding-bottom: 0.5em;
        }
            .footer .list .item .icon {
                flex-basis: 1em;
                padding-right: 0.5em;
                height: 1em;
                overflow: hidden;
                white-space: nowrap;
            }

            .footer .list .item a {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
                white-space: nowrap;
            }

    .footer .inner {
        width: 70rem;
        margin: 0 auto;
        max-width: calc(100vw - 2rem);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
        .footer .inner .column {

        }