.header {
    color: #f43;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header > a {
    margin-right: auto;
    font-weight: 500;
    text-decoration: none;
    color: #f43;
}