
.hero {
    position: relative;
    padding: 1rem;
    color: #333333;
    z-index: 0;
    max-width: 100rem;
    margin: 0 auto;
    overflow:hidden;
}

.hero h1 {
    padding: 0 0 0.3em 0;
    margin: 0;
    line-height: 0.8em;
    font-weight: 200;
    font-size: 18vw;
    overflow-x: hidden;

    font-family: Roboto;

    font-stretch: condensed !important;
}

.hero h1 span {
    display: block;
}

.shots {
    position: relative;
    left: 65vw;
    top: -13vw;
}
img {
    max-width: 100%;
}
.shot1 {
    display: block;
    position: absolute;
    width: 42vw;
    z-index: 1;
}

.shot2 {
    display: block;
    position: absolute;
    top: -6vw;
    left: 18vw;
    width: 20vw;
    z-index: 2;
}

.hero h2 {
    padding: 0 30vw 0 0;
    margin: 0 0 1em 0;
    font-weight: 500;
    font-size: 1.6em;
}



@media (min-width: 1200px) {
    .hero {
        padding: 4rem 4rem 2rem;
    }

    .hero h1 {
        font-size: 7.5rem;
        max-width: 8em;
        display: block;
        padding: 0;
        margin: 0;
        line-height: 0.8em;
        font-weight: 700;
        padding-bottom: 0.3em;
        overflow-x: hidden;
    }

    .hero h1 span {
        font-size: 7.5rem;
        padding-right: 0.25em;
        float: left;
    }
}
