html {
    font-family: 'Raleway', sans-serif;
    /* font-weight: 200;
    font-stretch: condensed; */
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing: antialiased;
    color: #555555;
}

body {
    margin:0;
    overflow-x: hidden;
}